<div class = "project-topic text-center">
  <h1>{{project.topic}}</h1>
</div>

<div class = "row justify-content-center">

    {{#each tasks as |task|}}
      <div class="card border-info taskitem"  on click = "">
        <form method="POST" action="/projects/{{project._id}}/tasks/{{task._id}}?_method=DELETE">
          <button type="submit" id="delete-task">X</button>
        </form>
        <div class="card-body">
          <div class="task-div">
            <h3 class = "card-title">{{task.title}}</h3>
            <p class = "card-text">{{task.body}}</p>
          </div>
        </div>
      </div>
    {{/each}}




    <div class = "card plus-card border-info" style="width: 18rem;">
      <div class = "row justify-content-center">

          <a href="/projects/{{project._id}}/tasks/new"><img id = "plus-button" src = "../img/plus.png" alt = "add"></a>

      </div>
    </div>

</div>
